<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082770146724-qes62olq5v0o660i6d4ildrpqn0hiup3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082770146724-qes62olq5v0o660i6d4ildrpqn0hiup3</string>
	<key>API_KEY</key>
	<string>AIzaSyCUntpvcN4Ozf-T9dPqkR366hzyjbYH268</string>
	<key>GCM_SENDER_ID</key>
	<string>1082770146724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pursuit-6.1-Capstone.quavi</string>
	<key>PROJECT_ID</key>
	<string>quavi-ea3d0</string>
	<key>STORAGE_BUCKET</key>
	<string>quavi-ea3d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082770146724:ios:7f729ce2666c80cd83ad31</string>
	<key>DATABASE_URL</key>
	<string>https://quavi-ea3d0.firebaseio.com</string>
</dict>
</plist>